@(active: String, textValidationForm: Form[(String, String, String, String, String, String, String, String)])(implicit flash: Flash)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("jQuery Form Validation") {
	<div class="row">
		@flash.get("ERROR").map { message =>
			<div class="alert alert-dismissable alert-danger">
				<strong>@message</strong>
			</div>
		}
		
		@flash.get("SUCCESS").map { message =>
			<div class="alert alert-dismissable alert-success">
				<strong>@message</strong>
			</div>
		}
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Form</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-8">
					<div class="well form-horizontal">
						@helper.form(action = routes.Application.handleTextForm, 'id -> "textValidationForm") {
							<fieldset>
								@inputText(textValidationForm("name"), args = 'class -> "form-control")
								@inputText(textValidationForm("dob"), args = 'class -> "form-control")
								@inputText(textValidationForm("email"), args = 'class -> "form-control")
								@inputText(textValidationForm("phone"), args = 'class -> "form-control")
								@inputText(textValidationForm("website"), args = 'class -> "form-control")
								@inputText(textValidationForm("userId"), args = 'class -> "form-control")
								@inputPassword(textValidationForm("password"), args = 'class -> "form-control")
								@inputPassword(textValidationForm("confPassword"), args = 'class -> "form-control")
							</fieldset>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-3">
									<button class="btn btn-primary" type="submit">Submit</button>
									<button class="btn btn-default">Cancel</button>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="col-lg-4">
					<div class="well">
						@sideBar(active)
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/additional-methods.js")" type="text/javascript"></script>
    <script type="text/javascript">
    
	    $( "#textValidationForm" ).validate({
	    	rules: {
	    		name: {
	    			required: true
	    		},
	    		dob: {
	    			required: true,
	    			date: true
	    		},
	    		email: {
	    			required: true,
	    			email: true
	    		},
	    		phone: {
	    			required: true,
	    			phoneUS: true
	    		},
	    		website: {
	    			required: true,
	    			url: true
	    		},
	    		userId: {
	    			required: true,
	    			minlength: 8,
	    			maxlength: 16
	    		},
	    		password: {
	    			required: true,
	    			minlength: 8
	    		},
	    		confPassword: {
	    			required: true,
	    			equalTo: "#password"
	    		}
	    	}
	    });
			
	</script>

}
