@(active: String, nunberValidationForm: Form[(Int, Int, Int, Int, Int, String)])(implicit flash: Flash)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("jQuery Form Validation") {
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Form</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-8">
					<div class="well form-horizontal">
						@helper.form(action = routes.Application.handleNumberForm, 'id -> "nunberValidationForm") {
							<fieldset>
								@inputText(nunberValidationForm("minValue"), args = 'class -> "form-control")
								@inputText(nunberValidationForm("maxValue"), args = 'class -> "form-control")
								@inputText(nunberValidationForm("rangeValue"), args = 'class -> "form-control")
								@inputText(nunberValidationForm("numberValue"), args = 'class -> "form-control")
								@inputText(nunberValidationForm("digitsValue"), args = 'class -> "form-control")
								@inputText(nunberValidationForm("creditCard"), args = 'class -> "form-control")
							</fieldset>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-3">
									<button class="btn btn-primary" type="submit">Submit</button>
									<button class="btn btn-default">Cancel</button>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="col-lg-4">
					<div class="well">
						@sideBar(active)
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/additional-methods.js")" type="text/javascript"></script>
    <script type="text/javascript">
    
	    $( "#nunberValidationForm" ).validate({
	    	rules: {
	    		minValue: {
	    			required: true,
	    			number: true,
	    			min: 100
	    		},
	    		maxValue: {
	    			required: true,
	    			number: true,
	    			max: 10000
	    		},
	    		rangeValue: {
	    			required: true,
	    			number: true,
	    			range: [100, 10000]
	    		},
	    		numberValue: {
	    			required: true,
	    			number: true
	    		},
	    		digitsValue: {
	    			required: true,
	    			digits: true
	    		},
	    		creditCard: {
	    			required: true,
	    			creditcard: true
	    		}
	    	}
	    });
			
	</script>

}
